a:link {
  font-size: 20px;
  border: around;
  color: red;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: green;
  background-color: transparent;
  text-decoration: underline;
}
